
/_ReSharper.Dragon Tools
/Dragon Tools.5.1.ReSharper.user
/DragonTools/obj
/DragonTools/bin
/StorageTool/obj
/StorageTool/bin
/DragonTools.acceptance/obj
/DragonTools.acceptance/bin
/TestResults
/Dragon Tools.suo
/DragonDosTools/bin
/DragonDosTools/obj